<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="nav-profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile">
            <span class="login-status online"></span>
            <!--change to offline or busy as needed-->
          </div>
        
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="main">
          <span class="menu-title">Dashboard</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="courses" >
          <span class="menu-title">Courses</span>
          <i class="mdi mdi-book-open menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
          <span class="menu-title">User Management</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-account-key menu-icon"></i>
        </a>
        <div class="collapse" id="general-pages">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" routerLink="admins"> Admins  </a></li>
            <li class="nav-item"> <a class="nav-link" routerLink="students"> Students </a></li>
            <li class="nav-item"> <a class="nav-link" routerLink="instructors"> instructors </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="groups">
          <span class="menu-title">Groups</span>
          <i class="mdi mdi-account-multiple-plus menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="events">
          <span class="menu-title">Events</span>
          <i class= "mdi mdi-wunderlist menu-icon"></i>
        </a>
      </li>
     
    </ul>
  </nav>