<div class="card">
    <div class="card-body">
      <h4 class="card-title" style="font-size: 50px; margin-bottom: 20px;">Courses</h4>
      <div class="button-group" style="margin-bottom: 20px;">
        <button type="button" class="btn btn-outline-primary btn-fw">Add Course</button>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Course Name</th>
            <th>Last-Update</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> 1 </td>
            <td> Herman Beck </td>
          
            <td> <div>20/10/2025</div>
                <div>10:30 PM</div> </td>
            <td>
            <button type="button" class="btn btn-gradient-dark btn-rounded btn-fw" routerLink="view_course">View Course</button>
            <button type="button" class="btn btn-gradient-info btn-rounded btn-fw">Edit</button>
            <button type="button" class="btn btn-gradient-danger btn-rounded btn-fw">Delete</button>
            </td>
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>

 