<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" style="font-size: 50px; margin-bottom: 20px;">instructors User</h4>
      <button type="button" class="btn btn-gradient-primary btn-rounded btn-fw">Add Instructors</button>
      
      <!-- Button Group for Right Alignment -->
      <div class="button-group ml-auto" style="float: right;">
        <button type="button" class="btn btn-outline-danger btn-icon-text" style="margin-right: 10px;">
          <i class="mdi mdi-upload btn-icon-prepend"></i> Upload Excel Data 
        </button>
        <button type="button" class="btn btn-gradient-success btn-fw" style="margin-right: 10px;">Export Into Excel Sheet</button>
        <button type="button" class="btn btn-gradient-light btn-icon-text">
          <i class="mdi mdi-format-vertical-align-bottom"></i> Download Excel Sample
        </button>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>User</th>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Modules</th>
            <th>Password</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="py-1">
              <img src="../../assets/images/faces-clipart/pic-1.png" alt="image" />
            </td>
            <td>Herman Beck</td>
            <td>ayounes493@gmail.com</td>
            <td>01011110022</td>
            <td>English-German</td>
            <td>#</td>
            <td>
              <button type="button" class="btn btn-gradient-info btn-rounded btn-fw">Edit</button>
              <button type="button" class="btn btn-gradient-danger btn-rounded btn-fw">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
